<div ng-controller="ContentCtrl">
  <form name="userForm" ng-submit="addUser()">
    <span>Enter Name</span><br>
    <input type="text" ng-model="user.name"><br>
    <h1>Answer These Questions</h1>

    <span>favorite artist</span><br>
    <input type="text" ng-model="user.answer1"><br>
    <span>favorite machine</span><br>
    <input type="text" ng-model="user.answer2"><br>
    <span>favorite holiday</span><br>
    <input type="text" ng-model="user.answer3"><br>
    <button>button</button>
  </form>
</div>
