<div ng-controller="ContentCtrl">
  <form name="userForm" ng-submit="addUser()" layout="column" layout-align="center center">
    <span>Enter Name</span><br>
    <input type="text" ng-model="user.name"><br>
    <h1>Answer These Questions</h1>

    <span>favorite artist</span><br>
    <input type="text" ng-model="user.answer1"><br>
    <span>favorite machine</span><br>
    <input type="text" ng-model="user.answer2"><br>
    <span>favorite holiday</span><br>
    <input type="text" ng-model="user.answer3"><br>
    <md-button class="md-icon-button" aria-label="Add">
      <md-icon class="material-icons">add</md-icon>
    </md-button>

  </form>
  <!-- get all users from database and compare against user in current scope -->
  <div layout="column" layout-align="center center">
    <md-button ng-click="getDate()" class="md-icon-button" aria-label="Add" >
      <md-icon class="material-icons">Get Date</md-icon>
    </md-button>
    <h2>{{ match }}</h2>
    
  </div>
</div>
