   <md-content layout-padding>
      <div>
        <form name="userForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>First name</label>
              <input ng-model="user.firstName">
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="user.address">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Biography</label>
            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-button ng-click="login()" class="md-icon-button" aria-label="Add">
            <md-icon class="material-icons">add</md-icon>
          </md-button>
        </form>
      </div>
    </md-content>
